{% extends 'PokeBundle::layout.html.twig' %}

{% block title %}
Voir shiny - {{ shiny.pokemon.name }} - {{ shiny.user.username }}
{% endblock %}

{% block content %}
	<div class="container_content">
		<div class="bloc_header">
			<div class="bloc_hunter">
				Shasseur: {{ shiny.user.username }}
				Niveau: {{ experience_manager.getLevelForUser(shiny.user) }}<br>
				Dernière activité: {{ shiny.user.lastLogin|date("d/m/Y") }}
			</div>
			<div>
				<h2>#{{ "%03d"|format(shiny.pokemon.number) }}{{ shiny.pokemon.name }}</h2>
			</div>
			<div class="bloc_favorites">
				<div class="">
					<h3>Favoris</h3>
					<a href="{{ path('poke_add_follow', {'username': shiny.user.username }) }}" class="fa fa-star fa-2x"></a>
				</div>
				<div class="">
					<h3>Reporter</h3>
					<a href="{{ path('poke_add_report', {'username': shiny.user.username }) }}" class="fa fa-bolt fa-2x"></a>
				</div>
			</div>
		</div>
		<div class="bloc_media">
			<div class="bloc_youtube">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/80KMzxzccZk" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="bloc_image">
				{% set imgShiny = 'uploads/shiny/'~ shiny.pokemon.name ~'/'~ shiny.picturePathName %}
				{% set imgShiny = 'uploads/shiny/Salamèche/58c8e4c80da3a.png' %}
				<img src="{{ asset(imgShiny) }}" alt="" class="img_shiny" />
			</div>
		</div>
		<div class="container_description">
			<h3>Description de la capture</h3>
			<p>{{ shiny.description }}</p>
		</div>
		<div class="container_interaction">
			<div class="bloc_form_comment">
				<h3>Réagir !</h3>
				{{ form_start(form) }}
					<div class="form_content">
						{{ form_label(form.message) }}
						<div class="admin_form_input">{{ form_widget(form.message) }}</div>
						<div class="form_error">{{ form_errors(form.message)}}</div>
					</div>
				{{ form_end(form) }}
			</div>
			<div class="bloc_share">
				<h3>Réseaux sociaux</h3>
			</div>
		</div>
		<div class="container_comments">
			{% for comment in comments %}
				<div class="bloc_comment">
					<h3>Posté par {{ comment.sendBy.username }}</h3>
					<div class="comment_message">
						{{ comment.message }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
